Repository Cyril-36/Codie, changes with the owners that CODEOWNERS names for each.
All owners: @your-org/eng-leads, @your-org/tech-writers, @your-org/architects, @your-org/devops, @your-org/backend-leads, @your-org/frontend-leads, @your-org/sre, @your-org/security, @your-org/platform, @your-org/ml-leads

feat(health): real readiness checks using asyncpg and redis asyncio; export updated OpenAPI
  codie-backend/app/health.py
Owners: @your-org/backend-leads

docs(readme): add CI badges section and contributor quickstart (use OWNER/REPO placeholder)
  README.md
Owners: @your-org/eng-leads

feat(auth): add SQLModel User, JWT utils, auth routes (register/login/refresh), and security dependency
  codie-backend/app/auth/routes.py
  codie-backend/app/auth/schemas.py
  codie-backend/app/auth/utils.py
  codie-backend/app/db.py
  codie-backend/app/dependencies.py
  codie-backend/app/models.py
Owners: @your-org/backend-leads

chore: Remove log files from version control
  src/backend/codie_backend.log
Owners: @your-org/eng-leads

feat: Complete project organization and configuration setup
  codie-backend/env.sample
  codie-backend/mypy.ini
  codie-backend/pytest.ini
  codie-backend/ruff.toml
  codie-frontend/.eslintrc.json
  codie-frontend/env.local.example
  config/monitoring/prometheus.yml
  deployments/development/config/postgres/init.sql
  deployments/development/config/redis/redis.conf
  infra/env.sample
  scripts/health-check.sh
Owners: @your-org/backend-leads, @your-org/frontend-leads, @your-org/eng-leads, @your-org/devops

chore: Remove GitHub workflows due to token permissions
  .github/ISSUE_TEMPLATE/docs_debt.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/backend.yml
  .github/workflows/ci-cd.yml
  .github/workflows/docs.yml
  .github/workflows/frontend.yml
  .github/workflows/openapi.yml
  .github/workflows/security.yml
Owners: @your-org/devops, @your-org/eng-leads

fix: Add aiosqlite dependency for async SQLite support
  codie-backend/requirements.txt
Owners: @your-org/backend-leads

Delete Cline rules.yml
  Cline rules.yml
Owners: @your-org/eng-leads

docs: beautify and enhance README with visuals, badges, and quickstart
  README.md
Owners: @your-org/eng-leads

docs: clean README (remove images, set frontend port 5174, drop roadmap, add contact email)
  README.md
Owners: @your-org/eng-leads

docs: add header banner, replace emojis, fix badges with shields.io
  README.md
Owners: @your-org/eng-leads

docs: set custom banner and wire CI badges to workflows
  README.md
Owners: @your-org/eng-leads

docs: simplify README (remove banner, trim badges, clarify architecture labels, remove footer)
  README.md
Owners: @your-org/eng-leads

CODEOWNERS:

# CODEOWNERS defines reviewers for code and docs governance. Paths are evaluated top-to-bottom.

# Global owners
*                             @your-org/eng-leads

# Docs ownership
/docs/                         @your-org/tech-writers @your-org/eng-leads
/docs/architecture/            @your-org/architects
/docs/devops/                  @your-org/devops
/docs/backend/                 @your-org/backend-leads
/docs/frontend/                @your-org/frontend-leads
/docs/runbooks/                @your-org/sre

# Backend services
/codie-backend/                @your-org/backend-leads
/codie-backend/app/            @your-org/backend-leads
/codie-backend/app/security/   @your-org/security
/codie-backend/app/runtime/    @your-org/platform
/codie-backend/app/llm/        @your-org/ml-leads

# Frontend
/codie-frontend/               @your-org/frontend-leads

# Agents and prompts
/ai-agents/                    @your-org/ml-leads

# Infra/CI policies
/infra/                        @your-org/devops
.github/                       @your-org/devops @your-org/eng-leads
/policy/                       @your-org/security @your-org/eng-leads
